html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.headLines .story1, .headLines .story2, .headLines .story3, .headLines .story4, .headLines .story5 {
  padding: 10px;
  margin-top: 10px;
  overflow: hidden;
  background-color: #F5F5F5;
  border-top: 1px solid lightblue;
  max-height: 400px; }

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box; }

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, *::before, *::after {
  box-sizing: inherit; }

body {
  background-color: #F5F5F5; }
  body .box {
    display: block;
    background-color: red;
    width: 100%;
    height: 300px; }

.container {
  background-color: #FFFFFF;
  padding: 15px; }

.header-color {
  background-color: #005689;
  width: 100%; }

/**
 * Basic styles for links
 */
/**
 * Basic typography style for copy text
 */
body {
  color: #222222;
  font: normal 125%/1.4 "Open Sans", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

.clearfix::after {
  clear: both;
  content: '';
  display: table; }

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
.container {
  max-width: 68em;
  /* 1 */
  margin-left: auto;
  /* 2 */
  margin-right: auto;
  /* 2 */
  padding-left: 20px;
  /* 3 */
  padding-right: 20px;
  /* 3 */
  width: 100%;
  /* 1 */ }

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0;
  /* 1 */
  text-indent: 101%;
  white-space: nowrap; }

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.container {
  max-width: 1200px;
  padding: 0 !important; }

nav {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  nav::after {
    clear: both;
    content: "";
    display: table; }
  nav li.block {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    nav li.block:last-child {
      margin-right: 0; }
    nav li.block:nth-child(4n) {
      margin-right: 0; }
    nav li.block:nth-child(4n+1) {
      clear: left; }
    @media screen and (max-width: 570px) {
      nav li.block {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        nav li.block:last-child {
          margin-right: 0; } }

.headLines {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin-right: 15px; }
  .headLines::after {
    clear: both;
    content: "";
    display: table; }
  .headLines h1 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%; }
    .headLines h1:last-child {
      margin-right: 0; }
    @media screen and (max-width: 700px) {
      .headLines h1 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        .headLines h1:last-child {
          margin-right: 0; } }
  .headLines .story1 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 61.61588%; }
    .headLines .story1:last-child {
      margin-right: 0; }
    .headLines .story1 p {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%;
      float: left; }
      .headLines .story1 p:last-child {
        margin-right: 0; }
    .headLines .story1 img {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      display: inline-block;
      width: 40%;
      height: auto;
      float: right; }
      .headLines .story1 img:last-child {
        margin-right: 0; }
    @media screen and (max-width: 700px) {
      .headLines .story1 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        .headLines .story1:last-child {
          margin-right: 0; } }
    .headLines .story1 p {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .headLines .story1 p:last-child {
        margin-right: 0; }
  .headLines .story2 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 15.55494%; }
    .headLines .story2:last-child {
      margin-right: 0; }
    @media screen and (max-width: 700px) {
      .headLines .story2 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        .headLines .story2:last-child {
          margin-right: 0; } }
  .headLines .story3 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    margin-left: 17.05961%; }
    .headLines .story3 img {
      width: 80%;
      height: auto; }
    .headLines .story3:last-child {
      margin-right: 0; }
    @media screen and (max-width: 700px) {
      .headLines .story3 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        margin-left: 0%; }
        .headLines .story3:last-child {
          margin-right: 0; } }
  .headLines .story4 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    .headLines .story4:last-child {
      margin-right: 0; }
    @media screen and (max-width: 700px) {
      .headLines .story4 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        .headLines .story4:last-child {
          margin-right: 0; } }
  .headLines .story5 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    .headLines .story5:last-child {
      margin-right: 0; }
    @media screen and (max-width: 700px) {
      .headLines .story5 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        .headLines .story5:last-child {
          margin-right: 0; } }

body h1 {
  font-size: 20px;
  color: purple;
  font-weight: bold; }

header ul {
  padding: 0; }
  header ul li {
    display: inline;
    padding: 10px;
    float: left; }

/*# sourceMappingURL=main.css.map */
