// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
h1  {
  font-size: 20px;
  color: blue;
  font-weight: bold;
  
}
