// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
body h1  {
  font-size: 20px;
  color: purple;
  font-weight: bold;
  @include media($mobile) {
  }
}
header ul {
  li {
  position: static;
  display: inline;
  padding: 10px;
  float: left;
  }
}

nav {
  @include outer-container;
  li.block {
    @include span-columns(3);
    @include omega(4n);
    @include media(max-width 570px) {
       @include span-columns(12);
    }
  }
}
