@charset 'UTF-8';

@import
 "../bourbon/bourbon";
 @import
 "../neat/neat";
// 1. Configuration and helpers
@import
  'utils/variables',
  'utils/mixins',
  'utils/functions';


// 2. Vendors
@import
  'vendor/normalize';

// 3. Base stuff
@import
  'base/base',
  'base/fonts',
  'base/typography',
  'base/helpers';

// 4. Layout-related sections
@import
  'layout/container',
  'layout/columns',
  'layout/header',
  'layout/footer';

// 5. Components
@import
  'components/button';

// 6. Page-specific styles
@import
  'pages/home';

// 7. Themes
@import
  'themes/default';
